registry=https://defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/

always-auth=true

; begin auth token
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/:username=defradev
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/:_password=${NPM_TOKEN}
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/:email=at@outlook.com
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/:username=defradev
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/:_password=${NPM_TOKEN}
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/:email=at@outlook.com
; end auth token