@defragovuk:registry=https://pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/

; begin auth token
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/:username=defragovuk
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/:email=npm requires email to be set but does not use the value
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/:username=defragovuk
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/:email=npm requires email to be set but does not use the value
; end auth token