registry=https://pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/ 
                        
always-auth=true


; begin auth token
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/:username=defragovuk
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/:_password=Mkl2bGJpM0Q3MnduandCYnRueFNJYlFna2NsOW5zemd5RHltblpVZkJIOG01SmdoWER2MEpRUUo5OUJMQUNBQUFBQW80ZjhXQUFBU0FaRE8xZjFn
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/:username=defragovuk
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/:_password=Mkl2bGJpM0Q3MnduandCYnRueFNJYlFna2NsOW5zemd5RHltblpVZkJIOG01SmdoWER2MEpRUUo5OUJMQUNBQUFBQW80ZjhXQUFBU0FaRE8xZjFn
//pkgs.dev.azure.com/defragovuk/DEFRA-MMO-FES/_packaging/mmo-shared-reference-data/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
 